@font-face {
    font-family: "Game of Thrones";
    src: url("./Game\ of\ Thrones.ttf");
    src: 
    url("./Game\ of\ Thrones.ttf") format("ttf"),
    }

body {
    font-family: "Game of Thrones";
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-style: red;
}

html {
    display: inline;
}

.instructionDiv {
    margin: 0 20%;
    /* border: 2px solid black; */
    font-size: 150%;
    padding: 1%;
}
.characterDiv {
    padding: 1%;
    width: 20%;
    margin: 1% 40%;
    z-index: 1;
    border: 2px solid black;
}


.stats {
    font-size: 150%;
    line-height: 250%;
}

body::before {
    background-image: url("https://ksassets.timeincuk.net/wp/uploads/sites/55/2017/08/2017_GameOfThrones_HBO_220817-920x584.jpg");
    background-size: 100%;
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    opacity: 0.7;
}

